h2 {

    color: white;
    text-align: center;
    margin-top: 2%;
}

button[type=submit] {
    display: block;
    font-family: "Futura PT", sans-serif;
    border: 6px solid #ffed00;
    background: transparent;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 10%;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease, color 0.4s ease;

}

button[type=submit]:hover {
    background: #ffed00;
    color: black;
}

button[disabled] {
    background: grey;
    border: 6px solid gray;
    cursor: not-allowed;
}

button[disabled]:hover {
    background: grey;
    color: white;
}

ul {
    margin-top: 30px;
}

li {
    color: white;
    text-align: center;
    font-weight: lighter !important;
}

li > span {
    cursor: pointer;
}


p {color: red}


.categorySelected {color: #ffed00 !important;}

