#playerContainer {
    background: #4a4a4a;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 10;
    margin-top: 80%;
}

button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
}

#addButton {
    background: url("../../../assets/images/plus_player_button.png") no-repeat center;
    width: 25px;
    height: 25px;
    margin-left: 16%;
    margin-top: 2%;
    vertical-align: top;
}

#albumPicture {
    width: 50px;
    height: 50px;
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top;
}

#songDetails {
    /*width: 10%;*/
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    position: absolute;
}

#songDetails p {
    color: white;
    font-size: medium;
}

#songDetails span {
    margin-top: -5px;
    color: white;
    font-family: "Futura PT", sans-serif;
    font-weight: lighter;
}

youtube-player {
    display: none;
}

#seekBar {
    display: inline-block;
    margin-right: 3%;
    width: 27%;
    margin-left: 15%;
}

#seekBar span {
    font-family: "Futura PT", sans-serif;
    color: white;
    font-weight: lighter;
    font-size: smaller;
    display: inline-block;
    width: 7%;
}

progress[value] {
    width: 300px;
    height: 4px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-image:
            -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #09c, #f44);

    background-size: 35px 20px, 100% 100%, 100% 100%;

}

progress[value]::-webkit-progress-value {
    background-color: #ffed00;
    position: relative;
    top: -4px;

    border-radius: 5px;
    height: 10px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #ffed00;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}


progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;

    width:5px; height:5px;
    top:7px; right:7px;

}

#leftSong {
    background: url("../../../assets/images/left_next_song.png") no-repeat;
    width: 25px;
    height: 19px;
}

#toggleVideo {
    background: url("../../../assets/images/pause_music_bar.png") no-repeat;
    width: 45px;
    height: 45px;
    position: relative;
    top: 15%;
    margin-left: 2%;
    margin-right: 2%;
}

#rightSong {
    background: url("../../../assets/images/right_next_song.png") no-repeat;
    width: 25px;
    height: 19px;
}

#toggleSound {
    background: url("../../../assets/images/sound_on_music_bar.png") no-repeat;
    width: 30px;
    height: 25px;
    position: relative;
    top: 6%;
    margin-left: 2%;
}