<section id="playerContainer">
    <button id="addButton" (click)="addToPlaylist()"></button>
    <img id="albumPicture" src="{{song.album.imagePath}}" alt="{{song.album.name}}">
    <section id="songDetails">
        <p>{{song.name}}</p>
        <span>{{song.album.artist}}</span>
    </section>

    <youtube-player
            [videoId]="song.youtubeId"
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)">
    </youtube-player>

    <section id="seekBar">  <!--Seek Bar -->
        <span>{{currTime | duration}}</span>
        <progress max="100" (click)="jumpTo($event)"></progress>
        <span>{{player?.getDuration() | duration }}</span>
    </section>

    <button id="leftSong" type="button" (click)="prevSong()"></button>
    <button id="toggleVideo" type="button" (click)="toggleVideo()"></button>
    <button id="rightSong" type="button" (click)="nextSong()"></button>
    <button id="toggleSound" type="button" (click)="toggleSound()"></button>
</section>