#fastSign{
    width: 60%;
    margin: 100px auto;
    display: table;
}

.socialMediaIcon{
    padding-right: 20px;
    margin-top: 20px;
    background: url("../../../assets/images/facebook_icon.png") no-repeat;
    display: inline-block;
    height: 100px;
    width: 100px;
    filter: invert(0%);
    transition: filter 0.4s ease;
}

.socialMediaIcon+.socialMediaIcon {
    background: url("../../../assets/images/google_icon.png") no-repeat;

}

.socialMediaIcon+.socialMediaIcon+.socialMediaIcon {
    background: url("../../../assets/images/twitter_icon.png") no-repeat;
}


.socialMediaIcon:hover {
    filter: invert(70%);
}

h4, h5, h6, p {
    font-family: "Futura PT", sans-serif;
    color: white;
}

h4 {
    margin-top: 10px;
}

h5 {
    padding: 15px 0 10px 0;
}


p {
    padding: 10px 0 15px 0;
    font-size: small;
}


form{
    font-family: "Futura PT", sans-serif;
    width: 60%;
    margin: -80px auto;
    display: table;
}

input {
    font-family: "Futura PT", sans-serif;
    border: 1px solid white;
    outline: none;
    background: none;
    width: 360px;
    height: 40px;
    margin: 10px 10px 5px 0;
    color: white;
    padding-left: 40px;
    display: block;
}
input:focus {
    border: 1px solid #016bf8;
}

select{
    font-family: "Futura PT", sans-serif;
    border: 0.2px solid white;
    outline: none;
    padding-left: 30px;
    width: 127px;
    height: 40px;
    margin: 0 10px 5px 0;
    color: white;
    background: url("../../../assets/images/arrow.png") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 244px;
}

select:focus {
    border: 1px solid #016bf8;
}


label {
    display: block;
    margin: 2% 0 2% 4.5%;
    color: white;
    font-size: small;
}

button[type=submit] {
    display: block;
    font-family: "Futura PT", sans-serif;
    /*background: #ffec00;*/
    border: 6px solid #ffed00;
    background: transparent;
    width: 400px;
    height: 50px;
    margin: 15px 10px 5px 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease, color 0.4s ease;
    margin-bottom: 30px;

}

button[type=submit]:hover {
    background: #ffed00;
    color: black;
}

::-webkit-input-placeholder {
    color: white;
    font-size: small;
}
