<section id="fastSign">
  <h4>Fast Sign Up</h4>
  <a class="socialMediaIcon" href="#"></a>
  <a class="socialMediaIcon" href="#"></a>
  <a class="socialMediaIcon" href="#"></a>
  <p>or</p>
  <h4>Sign Up</h4>
</section>
<form action="" method="get">
  <input name="firstName" required  placeholder="first name">
  <input name="lastName" required  placeholder="last name">
  <input type="email" name="email" required  placeholder="email">
  <input type="password" name="password" required placeholder="password">
  <input type="password" name="passwordConfirm" required placeholder="confirm passwrod">

  <label>birth of date</label>
  <select name="year" required>
    <option value="" disabled selected>Year</option>
    <option>2012</option>
    <option>2013</option>
    <option>2014</option>
    <option>2015</option>
    <option>2016</option>
    <option>2017</option>
    <option>2018</option>
  </select>
  <select name="month" required>
    <option value="" disabled selected>Month</option>
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select>
  <select name="day" required >
    <option value="" disabled selected>Day</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option>24</option>
    <option>25</option>
    <option>26</option>
    <option>27</option>
    <option>28</option>
    <option>29</option>
    <option>30</option>
    <option>31</option>
  </select>
  <button type="submit" value="Submit"><b>signup</b></button>
</form>