<section id="fastSign">
    <h4>Fast Sign Up</h4>
    <a class="socialMediaIcon" routerLink="."></a>
    <a class="socialMediaIcon" routerLink="."></a>
    <a class="socialMediaIcon" routerLink="."></a>
    <p>or</p>
    <h4>Sign Up</h4>
</section>
<form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <input name="firstName" placeholder="first name*" formControlName="firstName">
        <ng-template [ngIf]="form.get('firstName').touched">
            <span class="greenColor" *ngIf=" form.get('firstName').valid;">&#x2714;</span>
            <span class="redColor" *ngIf="!form.get('firstName').valid;">&#x2718;</span>
        </ng-template>
    </div>

    <div>
        <input name="lastName" placeholder="last name*" formControlName="lastName">
        <ng-template [ngIf]="form.get('lastName').touched">
            <span class="greenColor" *ngIf=" form.get('lastName').valid;">&#x2714;</span>
            <span class="redColor" *ngIf="!form.get('lastName').valid;">&#x2718;</span>
        </ng-template>
    </div>

    <div>
        <input type="email" name="email" placeholder="email*" formControlName="email">
        <ng-template [ngIf]="form.get('email').touched">
            <span class="greenColor" *ngIf=" form.get('email').valid;">&#x2714;</span>
            <span class="redColor" *ngIf="!form.get('email').valid;">&#x2718;</span>
        </ng-template>
    </div>

    <div>
        <input type="password" name="password" placeholder="password*" formControlName="password" [(ngModel)]="pass">
        <ng-template [ngIf]="form.get('password').touched">
            <span class="greenColor" *ngIf=" form.get('password').valid;">&#x2714;</span>
            <span class="redColor" *ngIf="!form.get('password').valid;">&#x2718;</span>
        </ng-template>
    </div>

    <div>
        <input type="password" name="passwordConfirm" placeholder="confirm password*" formControlName="passwordConfirm">
        <ng-template [ngIf]="form.get('passwordConfirm').touched">
            <span class="greenColor" *ngIf=" form.get('passwordConfirm').valid;">&#x2714;</span>
            <span class="redColor" *ngIf="!form.get('passwordConfirm').valid;">&#x2718;</span>
        </ng-template>
    </div>

    <label>birth of date</label>
    <select name="year" formControlName="year">
        <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
    </select>
    <select name="month" formControlName="month">
        <option *ngFor="let month of months" value="{{month}}">{{Month[month]}}</option>
    </select>
    <select name="day" formControlName="day">
        <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
        <option *ngIf="form.get('month').value != 2 || form.get('year').value % 4 === 0" value="29">29</option>
        <option *ngIf="form.get('month').value != 2" value="30">30</option>
        <option
                *ngIf="(form.get('month').value % 2 !== 0 && form.get('month').value < 8) ||
                       (form.get('month').value >=8 && form.get('month').value % 2 === 0)"
                value="31">31</option>
    </select>
    <button type="submit" [disabled]="!form.valid">signup</button>
</form>