#wrapper {
    margin: 0 auto;
}

header {
    /*margin-top: 4%;*/
    /*margin-top: 55px*/
    /*position: relative;*/
    /*top: 55px;*/

    background: #ffed00;
    height: 55px;
    margin: 0;

}

.loggedHeader {
    background: #ffed00;
    height: 55px;
    margin: 0;
}

#logo {
    background: url("../assets/images/black_logo.png") no-repeat;
    display: block;
    width: 23px;
    height: 53px;
    margin-left: 175px;
    float: left;
    /*margin-top: -20px;*/

    transition: filter 0.4s ease;

}

#logo:hover {
    filter: invert(1);
}

nav {
    float: right;
    margin-top: 1%;
    margin-right: 65px;

}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    display: inline-block;
    margin-right: 62px;
}

nav > ul > li > a {
    /*color: white;*/
    color: black;
    font-weight: bolder;
    transition: color 0.4s ease;
}

nav > ul > li > a:hover {
    /*color: darkgray;*/
    color: whitesmoke;
}



.markNav {
    text-decoration: underline;
}

#avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    margin-top: 5px;
    background-repeat: no-repeat;
}

span {
    font-family: "Futura PT", sans-serif;
    margin-right: 1%;
    margin-left: 150px;
    vertical-align: top;
    line-height: 55px;
}