<aside>
    <ul>
        <li><a class="bold" routerLink="/dashboard" routerLinkActive="underline">Radio</a></li>
        <li><a class="bold" href="#">Your Music</a></li>
        <li><a class="bold" href="#">Playlists</a></li>
        <li class="seperator"><a href="#">Discover</a></li>
        <li><a href="#">Concerts</a></li>
    </ul>
</aside>
<section id="albumsDisplay">
    <h1>
        <span>Hey {{authService.signedUser.firstName | uppercase}}!&nbsp;</span>
        welcome to POPZIT.
    </h1>
    <h4>Custom Playlists</h4>
    <section
            *ngFor="let album of albums"
            class="albumBlock"
            [ngStyle]="{'background': 'url(' + album.imagePath + ') no-repeat'}"
            (click)="loadAlbum(album, $event)">
        <span>{{album.artist}}</span>
    </section>
</section>
<section id="playlistDisplay">
    <h4><ng-template [ngIf]="selectedAlbum">{{selectedAlbum.artist}}</ng-template> Playlist</h4>
    <section *ngFor="let song of songs" class="songBlock">
        <div class="songButtons">
            <button type="button" (click)="playSong(song)"></button>
            <button type="button" (click)="addToPlaylist(song)"></button>
        </div>
        <div class="songDetails">
            <p>{{song.name}}</p>
            <span>{{song.artist.name}}</span>
        </div>
        <div class="clear"></div>
    </section>
</section>
<!--<app-player></app-player>-->
<ng-template [ngIf]="selectedSong">
    <app-player [album]="selectedAlbumOfSong" [song]="selectedSong"></app-player>
</ng-template>
<div class="clear"></div>