aside {
    float: left;
    background: black;
    height: 100vh;
    width: 17%;
}

aside ul {
    margin-top: 30%;
    margin-left: 30%;
}

aside li {
    margin-top: 27px;
}

aside a {
    font-size: 18px;
    font-family: "Futura PT", sans-serif;
    color:#ffed00;
    transition: color 0.4s ease;
}

aside a:hover {
    color: white;
}

.bold {
    /*font-family: "Futura PT Heavy", sans-serif;*/
    font-weight: bold;
}

ul a.bold:nth-child(3) {
    margin-bottom: 15px;
}

.seperator {
    width: 110px;
    border-top:1px solid #979797;
    padding-top: 35px !important;
}

.underline {
    text-decoration: underline;
}


#albumsDisplay {
    float: left;
    height: 100%;
    width: 55%;
    margin-top: 5%;
    padding-left: 6%;
    margin-bottom: 5%;

}

h1,h4 {
    font-family: "Futura PT", sans-serif;
    color: white;
}

h1 {
    font-size: 24px;
}

h1 span {
    color:#ffed00;
}

h4 {
    margin-top: 2%;
    font-weight: lighter;
}


.albumBlock {
    /*display: inline-block;*/
    /*width: 130px;*/
    /*height: 130px;*/
    display: inline-flex;
    width: 130px;
    height: 130px;
    border: 3px solid #ffed00;
    margin-right: 20px;
    margin-top: 40px;

    justify-content: center;
    background-size: cover;
    transition: filter linear 0.2s;

    line-height: 290px;
    cursor: pointer;

}

.albumBlock span {
    font-family: "Futura PT", sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #ffed00;
}

.albumBlock:hover {
    filter: brightness(50%);
    /*background: url('../../assets/images/play.png') no-repeat;*/
}


#playlistDisplay {
    float: left;
    height: 100%;
    width: 22%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#playlistDisplay > h4 {
    margin-top: 13.5%;
    margin-bottom: 3%;
}

.songBlock {
    color: #ffed00;
    font-family: "Futura PT", sans-serif;
}

.songButtons {
    float: left;
    width: 70px;
    margin-top: 15px;

}

.songButtons > button {
    display: inline-block;
    background: url("../../assets/images/play_button.png") no-repeat center;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    cursor: pointer;
}

.songButtons > button:nth-child(2) {
    background: url("../../assets/images/plus_button.png") no-repeat center;
}

.songDetails {
    float: left;
    margin-top: 15px;
}

.songDetails p {
    font-size: smaller;
}

.songDetails span {
    font-size: smaller;
    opacity: 0.6;
    position: relative;
    top: -5px;
}

#player {

}


/*
            [ngStyle]="{'background': 'url(../../assets/images/play.png) no-repeat center center,' + 'url(' + album.imagePath + ') no-repeat'}">

 */