/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/images/home_background.png") no-repeat center center fixed;
    /*background: rgba(126,0,18, 0.9);*/
    /*background: url("../images/home_background.png") no-repeat;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*font-family: , serif;*/
    font-family: "Futura PT Heavy", sans-serif;
}

.loginBackground {
    /*font-family: "Futura PT", sans-serif;*/
    background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99)),
    url("assets/images/login_background.png") no-repeat center center fixed;
    opacity: 0.9;
    background-blend-mode: screen;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.categoryBackground {
    background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99)),
    url("assets/images/bruno_mars_background.png") no-repeat 95% center fixed;
    opacity: 0.9;
    background-blend-mode: screen;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 30%;
}

.dashboardBackground {
    background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99)),
    url("assets/images/dashboard_background.png") no-repeat;
    background-blend-mode: screen;
    background-position: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.clear {
    clear: both;
}

nav, aside, section, article, header, footer, main {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}