<section>
    <h4>Fast Sign In </h4>
    <a class="socialMediaIcon" href="#"></a>
    <a class="socialMediaIcon" href="#"></a>
    <a class="socialMediaIcon" href="#"></a>
    <p>or</p>
    <h4>Sign In</h4>
</section>
<form [formGroup]="form" (submit)="onSubmit()">
    <input type="email" name="email"  placeholder="email address" formControlName="email">
    <input type="password" name="password" placeholder="password" formControlName="password">
    <button type="submit" [disabled]="!form.valid">continue</button>
</form>
