<section>
    <h4>Fast Sign In </h4>
    <a class="socialMediaIcon" routerLink="."></a>
    <a class="socialMediaIcon" routerLink="."></a>
    <a class="socialMediaIcon" routerLink="."></a>
    <p>or</p>
    <h4>Sign In</h4>
</section>
<form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <input type="email" name="email"  placeholder="email address" formControlName="email">
        <ng-template [ngIf]="form.get('email').touched">
            <span class="greenColor" *ngIf=" form.get('email').valid;">&#x2714;</span>
            <span class="redColor" *ngIf="!form.get('email').valid;">&#x2718;</span>
        </ng-template>
    </div>

    <div>
        <input type="password" name="password" placeholder="password" formControlName="password">
        <ng-template [ngIf]="form.get('password').touched">
            <span class="greenColor" *ngIf=" form.get('password').valid;">&#x2714;</span>
            <span class="redColor" *ngIf="!form.get('password').valid;">&#x2718;</span>
        </ng-template>
    </div>

    <button type="submit" [disabled]="!form.valid">continue</button>
</form>
